/***********************************
Navigation bar
************************************/
.body-default{
    font-family: "Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
}
.navbar-default{
    padding: 5px 0px;
}
.navbar-branding {
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: 700 !important;
}
.navbar-global{
    font-weight: 700 !important;
    color: rgb(255, 255, 255);
    background-color: #000000;
    margin-top: none;
    padding: none;
    display: block;
    font-weight: bold;
}
.navbar-global .left{
    text-align: left;
    background-color: #000000;
    color: #ffffff;
    line-height: 3;
    font-weight: bold;
}
.navbar-global .left a:hover{
    background-color: #000000;
    color: rgb(247, 105, 2);
    text-decoration: none;
}
.navbar-global .right{
    background-color: rgb(247, 105, 2);
    text-align: right;
    color: #ffffff;
    line-height: 3;
    font-weight: bold;
    text-align: center;
}
.navbar-global .right a:hover{
    background-color: rgb(247, 105, 2);
    color: #000000;
    text-decoration: none;
}
.navbar-default .navbar-brand {
    color: #5F9F9F;
}
.navbar-default {
    background-color: #ffffff;
}
.navbar-title{
    font-weight: bold;
    font-family: inherit;
}
.course-text{
    padding: 84px;
}
.navbar-default .navbar-brand {
    font-weight: 700;
    padding: 5px;
    height: inherit;
    font-size: 42px;
    float: none;
    margin: auto;
    display: inline;
    text-align: center;
}
.navbar-default .navbar-header{
    margin: 20px 0px;
    text-align: center;
}
.navbar {
    margin-bottom: 0px;
    background-color: #ffffff;
    font-family: "Helvetica Neue","Helvetica","Roboto","Arial",sans-serif !important;
    position: sticky;
}
.padding-zero{
    padding: 0px;
}
.mart20{
    margin-top: 20px;
}
.rit-logo{
    height: 34px;
    width: 83px;
    align-items: left;
}
.sponsorImg{
    width: 38%;
    margin-right: 15px;
    align-items: right
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
}

.navbar-menu {
    text-align: center;
    padding: 14px 20px;
    position: relative;
    display: inline-block;
}

.navbar-menu a {
    color: #727578;
    font-weight: 700;
    font-size: 15.84px;
    font-family: "Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    letter-spacing: normal;
}

.navbar-menu a:hover {
    background-color: white;
    text-decoration: none;
    color: #000000;
}

.navbar-menu a:active {
    background-color: white;
}
.navbar-ul {
    text-align: center;
}

/*Specific Cases*/

.btn.btn-custom-lg,
.btn.btn-custom-sm,
.btn.btn-custom-xs {
  border-radius: 0;
}
/*Global*/
.btn.btn-square {
  border-radius: 0;
  background-color: rgb(247, 105, 2);
  border: rgb(247, 105, 2);
}
.btn.btn-square:hover{
    background-color: rgb(0,0,0);
    border: rgb(0,0,0);
}
/***********************************
Hero
************************************/

.hero {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../img/girlsBanner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    font-size:4em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero .btn1 {
    display: block;
    width: 200px;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    border: 3px solid white;
    border-radius: 20px;
    background-color: #9fbdd5BF;
}

.hero .btn1 a:hover {
    background-color: white;
    text-decoration: none;
}

/***********************************
Banner
************************************/
.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../img/rit.jpg');
    background-size: cover;
    min-height: 200px;
    position: relative;
}

.bg-color{
    background-color: rgba(0, 0, 0, 0.25);
    min-height: 200px;
}

.banner-text{
    color: #fff;
    font-size: 100px;
}

.tagline{
    display: inline-block;
    margin-top: 150px;
    margin-bottom: 15px;
    padding: 10px 0;
    color: #fff;
    font-weight: bold;
    font-size: 150px;
}
.intro-para{
    margin-top: 30px;
}
.padleft-right{
    padding-left: 5px;
    padding-right: 0px;
}
.big-text{
    font-size: 35px;
}
.small-text{
    font-size: 22px;
}

.section_padding{
    padding-top: 130px
 }

/***********************************
Footer
************************************/
#ritfooter{
    background-color: #000000;
    color:#ffffff;
    padding:10px;
    font-size: 13px;
    bottom: -100px;
    position: absolute;
}
#ritfooter a {
    color: #919191;
}

myFooter {
    background-color: black;
}

.menu--social nav{

}

/***********************************
Transitions/Fades
************************************/
.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
}
}

/***********************************
Camp Info
************************************/

.camps {
    font-family: Arial;
}

.camps .btn {
    display: block;
    width: 200px;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    border: 3px solid white;
    border-radius: 20px;
    background-color: #9fbdd5BF;
}

/*
All Media Devices
*/

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {



}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1023px) {

  .section_padding{
    padding-top: 100px
 }
 .hero{
    padding-top: 120px
 }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .section_padding{
    padding-top: 0px
 }
  .hero{
    padding-top: 120px
 }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .section_padding{
    padding-top: 0px
 }
 .hero{
    padding-top: 120px
 }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .section_padding{
    padding-top: 0px
 }
 .hero{
    padding-top: 120px
 }

}